<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 在Eclipse中运行，请到Eclipse的安装目录中找log文件，Tomcat下，请到Tomcat目录下找 -->
	<property name="logDir" value="../logs" />
	<appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
		<encoder>
			<pattern>[%d{HH:mm:ss}] [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDir}/commonp.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{HH:mm:ss}] [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.beans.factory">
		<level value="info" />
	</logger>
	<logger name="org.cometd">
		<level value="info" />
	</logger>

	<logger name="org.springframework.jdbc.core.JdbcTemplate">
		<level value="debug" />
	</logger>
	<logger name="org.springframework.web">
		<level value="debug" />
	</logger>
	<logger name="com.molloc.app">
		<level value="debug" />
	</logger>
	<root>
		<level value="warn" />
		<appender-ref ref="STDOUT" />
		<!--
			<appender-ref ref="FILE" />
		-->
	</root>
</configuration>